<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hybrid_TestNg_UHG"/>
<listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
<listEntry value="D:\Hyd_UHG_12thJune2017\Hybrid_TestNg_UHG\testng.xml"/>
</listAttribute>
<intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
